<html>
    <!-- <h2>Add a rating</h2>
    <form action="/user">
        <label for="rating">Enter your email address</label>
        <input type="text" name="email"/><br> -->
    <h2>Add a rating</h2>
    <form action="/add_rating?title={{movie}}">
    <label for="movie_title">Enter the title of the movie</label>
    <input type="text" name="movie_title"/><br>
    <label for="rating">Enter your rating for {{movie}}</label>
    <input type="text" name="rating"/><br>
    <input type="submit">
    <h2>User {{user.id}}'s ratings are: </h2>
    {% for r in user.ratings %}
        <h4>Movie: <a href="/movie_page?title={{r.movie.movie_title}}">{{r.movie.movie_title}}</a> Rating: {{r.rating}}</h4>
<!-- display the movies the user has rated and what the ratings were-->
    {% endfor %}
</html>